<main class="collections-summer-main site-collections" style="font-family: SwissquoteRegular;">
  <section class="collection-banner">
    <a href="#">
      <img src="/img/Master_Banner_-_Desktop(1)11.webp" alt="" style="width: 100%;" />
    </a>
  </section>
  <section class="collection-sale-products m-5">
    <div>
      <div class="collection-sale-products_header">
        <img src="/img/1840x195.webp" alt="banner2" style="width: 100%; border-radius:40px" />
      </div>
      <section class="image-grid">
        <figure>
          <a href="/collection/ao-thun-nam"><img src="/img/24CM.MAWCS.PLZ613---.DEN3D_29.webp" alt="Ảnh 1" /></a>
          <figcaption>Chú thích cho ảnh 1</figcaption>
        </figure>
        <figure>
          <img src="/img/24CMAW_CM001-3D_XANH_NAVY.webp" alt="Ảnh 2" />
          <figcaption>Chú thích cho ảnh 2</figcaption>
        </figure>
        <figure>
          <img src="/img/24CMAW.KM010_-_xam_69.webp" alt="Ảnh 3" />
          <figcaption>Chú thích cho ảnh 3</figcaption>
        </figure>
        <figure>
          <img src="/img/2484CW.ST002--0048--NAU-3D2_78.webp" alt="Ảnh 4" />
          <figcaption>Chú thích cho ảnh 4</figcaption>
        </figure>
        <figure>
          <img src="/img/ao-khoac-windbreaker-nylon-taslan-den-phoi-xanh-la_(11).webp" alt="" />
          <figcaption>Chú thích cho ảnh 5</figcaption>
        </figure>
      </section>
    </div>
    <div class="mt-5" style="display: flex;justify-content:center">
      <button type="button" class="btn btn-primary custom-btn-rounded">
        XEM THÊM
      </button>
    </div>
  </section>
</main>