<main class="collections-summer-main site-collections">
  <section class="collection-banner">
    <a href="#">
      <img
        src="/img/Master_Banner_-_Desktop(1)11.webp"
        alt=""
        style="width: 100%;"
      />
    </a>
  </section>
  <section class="collection-sale-products m-5">
    <div>
      <div class="collection-sale-products_header">
        <img
          src="/img/1840x195.webp"
          alt="banner2"
          style="width: 100%; border-radius:40px"
        />
      </div>
      <section
        class="homepage-products__slides grid grid--five-columns large-grid--five-columns tablet-grid--five-columns mobile-grid--two-columns slick-initialized slick-slider"
      >

        <!-- Danh sách sản phẩm -->
        <div class="product-slider mt-5">
          <!-- Sản phẩm 1 -->
          <div class="product-item">
            <img
              src="/img/24CM.MAWCS.PLZ613---.DEN3D_29.webp"
              alt="Sản phẩm 1"
            />
            <h3 class="product-name">Sản phẩm 1</h3>
          </div>
          <!-- Sản phẩm 2 -->
          <div class="product-item">
            <img
              src="/img/2484CW.ST002--0048--NAU-3D2_78.webp"
              alt="Sản phẩm 2"
            />
            <h3 class="product-name">Sản phẩm 2</h3>
          </div>
          <!-- Sản phẩm 3 -->
          <div class="product-item">
            <img
              src="/img/ao-khoac-windbreaker-nylon-taslan-den-phoi-xanh-la_(11).webp"
              alt="Sản phẩm 3"
            />
            <h3 class="product-name">Sản phẩm 3</h3>
          </div>
          <!-- Sản phẩm 4 -->
          <div class="product-item">
            <img
              src="/img/ao-khoac-2-lop-casual-xanh-orion-blue_(13).webp"
              alt="Sản phẩm 4"
            />
            <h3 class="product-name">Sản phẩm 4</h3>
          </div>
          <!-- Sản phẩm 5 -->
          <div class="product-item">
            <img src="/img/24CMAW.KM010_-_xam_69.webp" alt="Sản phẩm 5" />
            <h3 class="product-name">Sản phẩm 5</h3>
          </div>

          <!-- Các sản phẩm tiếp theo -->
          <div class="product-item">
            <img src="/img/24CMAW_CM001-3D_XANH_NAVY.webp" alt="Sản phẩm 6" />
            <h3 class="product-name">Sản phẩm 6</h3>
          </div>
          <!-- Tiếp tục thêm sản phẩm tùy ý -->
        </div>

        <!-- Nút điều hướng trước -->
        <button class="slick-prev slick-arrow">Trước</button>
        <!-- Nút điều hướng sau -->
        <button class="slick-next slick-arrow">Sau</button>
      </section>

    </div>
  </section>
</main>