<footer class="footer mt-5 bg-black text-white" style="font-family: SwissquoteRegular ;">
  <div class="container">
    <div class="row gy-3">
      <div class="col-md-4">
        <h6>Thông tin liên hệ</h6>
        <p>Hotline:
          <a href="tel:1900272737">1900.272737</a>
          -
          <a href="tel:02877772737">028.7777.2737</a>
        </p>
        <p>Email: <a href="mailto:Cool@coolmate.me">Cool@coolmate.me</a></p>
      </div>
      <div class="col-md-4">
        <h6>Chính sách</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none">Chính sách đổi trả 60
              ngày</a></li>
          <li><a href="#" class="text-decoration-none">Chính sách khuyến mãi</a></li>
          <li><a href="#" class="text-decoration-none">Chính sách bảo mật</a></li>
          <li><a href="#" class="text-decoration-none">Chính sách giao hàng</a></li>
        </ul>
      </div>
      <div class="col-md-4 image-grid-footer">
        <a href="#" class="text-decoration-none me-2">
          <img src="/img/FB.png" alt="" />
        </a>
        <a href="#" class="text-decoration-none me-2">
          <img src="/img/ZL.png" alt="" />
        </a>
        <a href="#" class="text-decoration-none me-2">
          <img src="/img/Tik.png" alt="" />
        </a>
        <a href="#" class="text-decoration-none me-2">
          <img src="/img/icon-instar.svg" alt="" />
        </a>
        <a href="#" class="text-decoration-none">
          <img src="/img/icon-youtube.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="text-center mt-4">
      <p class="mb-0">&copy; 2025 Coolmate. All rights reserved.</p>
    </div>
  </div>
</footer>