.footer {
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.image-grid-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    margin-top: 50px;
}

.image-grid-footer a img {
    height: 60px;
    object-fit: cover;
}